.list {
    background-color: whitesmoke;
    flex-direction: inherit;
    padding: 1px;
    width: fit-content;
    margin: auto;
    border: 10px outset;
    border-radius: 20px;
    font-family: "perfect font", sans-serif;
    font-size: large;
    font-kerning: initial;

}

.form {
    display: flex;
    justify-content: flex-end;
    padding: .5em;
}

.form > label {
    flex: 1;

}

.form > input {
    flex: 2;

}

.form > input,
.form > button {
    padding: .2em;
}

.form > button {
    background: red;
    color: white;
    border: 0
    
}
